{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}
{% block content %}
<div class="container">
    <h1>Tu Carrito</h1>
    <div class="carrito-container">
    {% for item in carritoItems %}
        <div class="carrito-item">
            <p>{{ item.plato.nombreDelPlato }} - {{ item.cantidad }} x {{ item.plato.precio }}€</p>
        </div>
    {% endfor %}
    <p>Total: {{ total }}€</p>
<button class="btn btn-success" onclick="confirmarPedido()">Confirmar Pedido</button>
</div>
</div>    
{% endblock %}