{% extends 'base.html.twig' %}
{% block title %}Lista de Productos
{% endblock %}
{% block content %}

	<div id="product-list" class="product-grid"></div>

	<script src="{{ asset('js/products.js') }}"></script>
{% endblock %}
